<!-- This page should allow the user to modify every table in the database.
  one box per table, provide "violates foreign key" feecback if not accepted input
    foreign keys should be for each of the three tables - frequents, likes, and sells
      drinker bar and beer should be present in the tables drinker, bar, beer (items) BEFORE they can be in frequent, likes, sells
    key constraint for sells table -> on bar, beer (bar, beer -> price) 
  
  assertions: all patterns should be enforced with proper error messages if the input is not accepted
-->


<p>
  modification works!
</p>
