<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.address }} <span *ngIf="barDetails.address && barDetails.city"> | </span> {{ barDetails?.city }}
            <br>
            {{ barDetails?.phone }}
        </p>
    </div>
</div>

<!-- We need bar graphs for 1. top drinkers by spending, 2. most selling beers, 4. best selling manufacturers-->
<div class="container">
    <br>
    <div id="spendersbg"></div>
</div>
<br>
<div class="container">
    <br>
    <div id="topsellingitems"></div>
</div>
<br>
<div class="container">
    <br>
    <div id="topsellingmanf"></div>
</div>
<div class="container">
    <br>
    <div id="busiesttimes"></div>
</div>
<br>
<div class="container">
    <h2 class="text-center font-weight-light">Menu</h2>
    <br>
    <p-table [value]="menu">
        <ng-template pTemplate="header">
            <tr>
                <th>Item</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Likes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.manf }}</td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.likes }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<br>
<br>
